{% load staticfiles %}
<html>
  <head>
    <title>Django blog</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
   
   
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="{% static 'js/basefile.js' %}"></script>

    <!-- <script type="text/javascript" src="bundle.js"></script> -->

    


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <header>
        <div class="nav-left">
          <h1><a href="/">Django blog</a></h1></script>
        </div>
        <div class="nav-right">
          <a href="{% url 'post_new' %}">+ New Blog Post</a>
        </div>
      </header>
      
      {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
        <p><a  href="{% url 'logout' %}">logout</a></p>
      
      {% else %}
        <p class ="hid">You are not logged in.</p>
        <a  id="solution0" href="{% url 'login' %}">login</a>
      
      {% endif %}


      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>