
{% extends 'base.html' %}

{% block content %}


  {% for post in object_list %}
    <div class="post-entry">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>

      <p>{{ post.body }}</p>
      <p>{{ post.date }}</p>

    </div>
  {% endfor %}
  {% endblock content %}

