{% extends 'base.html' %}

{% block content %}
  <div class="post-entry">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

   <h2>Title:</h2> <p>{{ object.title }}</p>
    <h2>Blog Content:</h2><p>{{ object.body }}</p>
    <h2>Date :</h2><p>{{ object.date }}</p>

  </div>

  <a href="{% url 'post_edit' post.pk %}">+ Edit Blog Post</a>
  <br/>
  <br/>

  <a href="{% url 'post_delete' post.pk %}">+ Delete Blog Post</a>


{% endblock content %}


