{% extends 'base.html' %}

{% block content %}
    <h1>New post</h1>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <form action="" method="post">{% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Update" />
    </form>
    
{% endblock %}
