{% extends 'base.html' %}

{% block content %}
    <h1>Delete post</h1>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <form action="" method="post">{% csrf_token %}
      {{ form.as_p }}
      <p>Are you sure you want to delete "{{ post.title }}"?</p>
    <!-- <input type="submit" class=" value="Delete" /> -->
    <button type="submit" name="Delete" class="btn btn-default">Delete</button>
</form>
{% endblock %}

