{% extends 'base.html' %}

{% block content %}
<h2>Login</h2>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn btn-default" type="submit" >Login</button>

      {% if not user.is_authenticated %}
        

        <a href="{% url 'signup' %}">Signup</a>
        <a href="{% url 'password_reset' %}">Reset Password</a>


      
   <!--    {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">login</a> -->
      
      {% endif %}

</form>
{% endblock content %}